napari>=0.5.6
torch>=2.7.0
torchvision>=0.22.0
numpy>=1.24.4
opencv-python>=4.8.1.78
Pillow>=9.5.0
scikit-image>=0.20.0
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
magicgui>=0.10.0
PyQt5>=5.15.2
omegaconf>=2.1.1
qtpy>=2.4.3
tox>=4.12.1
pytest>=8.3.5
pytest-cov>=4.1.0
pytest-qt>=4.4.0 